{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
  <h1>Registration page</h1>
  <form method="POST" action="{{ url_for('auth.registration') }}" class="needs-validation" novalidate>
      <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
          <div class="invalid-feedback">
              Please enter your name.
          </div>
      </div>
      <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
          <div class="invalid-feedback">
              Please enter a valid email address.
          </div>
      </div>
      <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
          <div class="invalid-feedback">
              Please enter a password.
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
{% endblock %}
