{% extends "layout.html" %}

{% block title %}
    Create Post
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-light">Add New Post:</h2>
    <form method="POST" action="/post/">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="Enter category" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content:</label>
            <textarea class="form-control" id="content" rows="8" name="content" placeholder="Write here..." required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}
